<!DOCTYPE html>
{% load compress %}
{% load static %}
<html lang="en">
<head>
    {% include 'base/head/base.html' %}
    <base href="/">
</head>

<body ng-app="eestec" ng-controller='appCtrl'>
<md-toolbar id="navbar" class="md-menu-toolbar" layout="row"
            layout-align="flex-start center" ng-controller="toolbarController">
    <a flex href="/#/"><img id="logo" src="{% static 'common/Placeholder.jpg' %}"/></a>
    <span>{{ name }}</span>
</md-toolbar>

<md-content ng-controller="contentController">
    {% block content %}
    {% endblock %}
    <footer style="height:300px;background-color: #838383"></footer>
</md-content>
{% verbatim %}
    <script type="text/javascript" id="{{ name }}">
        document.addEventListener("DOMContentLoaded", function (event) {
            thisbetterwork = '{{ name }}';
            console.log(thisbetterwork);
        });
    </script>
{% endverbatim %}
<md-sidenav class="md-sidenav-right" md-component-id="right"
            ng-include="'/static/common/sidenav.html'"></md-sidenav>
</body>
</html>